<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Category:</b>
  <%= @book.category.name %>
</p>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
<div>
  <strong>Tags:</strong>
  <% @book.tags.each do |t| %>
    <p>
      <%= t.name %>
    </p>
  <% end %>
</div>
